
.container {
  display: flex;
  margin: auto;
  margin-top: 15%;
  justify-content: center;
  gap: 10px;
  background-color:black;
  width: 28vw;
  border-radius: 20px;
}
#hrs {
  text-align: center;
  color: white;
}
#min {
  text-align: center;
  color: white;
}
#sec {
  text-align: center;
  color: white;
}
h1{
  font-size: 50px;
}
